*{

  
}

.navbar{
  height: 60px;
  background: #A3A3A36E;
  border-bottom: 4px solid #00ED82;
  padding: 1rem 5rem;
  
}


.navbar img{
  height: 2.5em;
}

.navlinks{
  display: flex;
  float: right;
  list-style: none;
}

.navlinks li{
  margin-inline: 0.8rem;
  padding-top: 10px;
}


.land img{
  height: 18em;
}

.land{
  border-bottom: 0.5rem solid #0CC83E;
  margin: 5rem;
  font-size: 1.8rem;
  text-align: center;
  margin: 10em;
  align-items: inherit;
  justify-content:center;
}

.land p{
  width: 50%;
  text-align: center;
  margin: 40px;
  padding-left: 22%;
}

.land-items{
  display: flex;
}


  .item h1,.item p{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.why h2{
  color: yellow;
  padding: 60px 0 0 20px;
  font-family: ;
  font-weight: bold;
}

.why{
  background: rebeccapurple;
  height: 40em;
}

.container{
  width: 50%;
  background: #7D3FCB;
  margin:10px;
  padding: 0;
  border-radius: 10px;
  height: 20em;
  box-shadow: 0px 0px 2px 2px #FFFFFF9E;
  margin-top: 60px;
  transform: translateX(45%);
}


.carousel-inner p{
}

.carousel-inner h1{
  margin-bottom: 20px;
  
  font-weight: bold;
  font-size: 2.5rem;
  color: #FFFFFF;
   text-shadow: 3px 2px 2px #000000;
}

.carousel-inner{
  color: #FFF7F7;
  width: 80%;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  transform: translateX(10%);
}

.abc{
  padding-top: 20em;
  
}

.abc ol{
  position: absolute;
}

.abc li{
  border: 2px solid green;
  width: 20px;
  transition:  0.2s ease-in;
   box-shadow: 0px 0px 2px 2px #FFFFFF9E;
}

a.left.carousel-control,
a.right.carousel-control{
  background: none;
  color: green;
  margin-bottom: 10px;
  
}



.prop {
  padding: 5rem;
  display: flex;
  align-items: flex-start;
  padding-top: 100px;
  align-items: center;
  margin: 0em 10em 0em 10em;
  justify-content: center;
  border-block-end: 2px solid;
}

.text-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-container h1,
.text-container p {
  margin: 40px;
  font-size: 1.8rem;
  width: 80%;
  
}

.prop img {
  margin-left: auto;
  width: 50%;
}

button {
  width: 140px;
  height: 40px;
  background: #00000069;
  border: none;
  border-bottom: 2px solid #00ED82;
  margin-right: auto;
  font-weight: bold;
  color: floralwhite;
  font-family: fantasy;
  float: right;
}


.footer{
  background: #2A2A2A;
  position: relative;
}

.footer img{
  margin: 5rem;
  margin-top: 6rem;
  width: 10rem;
  height: auto;
  position: absolute;
  padding-left: 10px;
}

.f-items{
  text-align: center;
  display: grid;
  margin: 5rem;
  padding-top: 5rem;
  
}

.flinks{
  float: right;
  padding-top: 25px;
  
}

.flinks a{
  color: ghostwhite;
  margin-inline: 1.5rem;
  font-family: fantasy;
  font-size: 1.1rem;
  text-decoration: unset;
}

.footer p{
  color: #D6D6D6;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  float: bottom;
  background: #09121E;
  height: 2em;
  text-align: center;
  margin-top: 60px;
}

#darkmode{
  float: center;
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #00ED82;
  font-size: 1.1rem;
  font-family: fantasy;
  font-weight: bold;
}

.fbtn{
  
}

.dark-mode {
  background: #00042B;
  color: ghostwhite;
  transition: 0.5s;
}

@media only screen and (max-width:620px){
   
   *{
     
   }
  /*
   body{
     background: #00042B;
   }
   */
  .navbar{
    padding: 10px 20px;
    
  }
   
   .navbar img{
     height: 40px;
     padding-left: 0;
   }
   
   .navlinks img{
     height: 30px;
   }
   
   .land h1{
     font-size: 2.5rem;
   }
   
   
   .land{
    height: 30em;
    margin: 25px;
    padding: 30px 5px 80px 5px; 
    border-bottom: 2px solid #0CC83E;
   }
   
  .land img{
    width: ;
    height: 15em;
    margin-top: 5em;
  }
  
   .land p{
     width: 60%;
     margin-left: 0;
     padding-left: 0;
     font-family: fantasy;
     font-weight: 500;
     padding-top: 3em;
   }
   
   
   /*Niyə biz hissəsinin stili*/
   
     .item h1,.item p{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.why h2{
  color: yellow;
  padding: 60px 0 0 20px;
  font-family: ;
  font-weight: bold;
}

.why{
  background: rebeccapurple;
  height: 40em;
}

.container{
  text-align: center;
  width: 90%;
  background: #7D3FCB;
  margin:10px;
  padding: 0;
  border-radius: 10px;
  height: 20em;
  box-shadow: 0px 0px 2px 2px #FFFFFF9E;
  margin-top: 60px;
  transform: translateX(3.5%);
}


.carousel-inner p{
}

.carousel-inner h1{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.5rem;
  color: #FFFFFF;
   text-shadow: 3px 2px 2px #000000;
}

.carousel-inner{
  color: #FFF7F7;
  width: 80%;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-top: 35px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  transform: translateX(10%);
}

.abc{
  padding-top: 20em;
  
}

.abc ol{
  position: absolute;
}

.abc li{
  border: 2px solid green;
  width: 20px;
  transition:  0.2s ease-in;
   box-shadow: 0px 0px 2px 2px #FFFFFF9E;
}

a.left.carousel-control,
a.right.carousel-control{
  background: none;
  color: green;
  margin-bottom: 10px;
  
}

  
   /*prop hissesinin stili*/

   
   .prop{
     font-size: 1rem;
     padding: 10px;
     margin: 10px;
     justify-content: center;
     background: whitesmoke;
     border-bottom: 2px solid;
     border: 2px solid whitesmoke;
     border-radius: 10px;
     box-shadow: 0px 0px 2px 2px #686868CF;
     
   }
   
   .prop img{
     width: 60%;
     height:auto;
     margin-left: auto;
   }
   
   .text-container h1,
   .text-container p{
      font-size: 1.4rem;
      width: 100%;
      margin-left: 0;
   }
    
    

   
   /*footer hissesinin stili*/
   
   .footer{
     position: relative;
     align-items: center;
   }
   
   .footer img{
     margin: 1rem;
     margin-top: 6rem;
     width: 100px;
     height: auto;
     position: absolute;
     padding-left: 10px;
   }
   
   .f-items{
     text-align: right;
     margin: 2rem;
     padding-top: 1em;
   }
   
   .flinks{
     padding-bottom: 2em;
     float: right;
     
   }
   
   .flinks a{
     font-size: 1.5rem;
     margin-inline: 8px;
     
   }
   
   button{
     width: 100px;
     height: 40px;
     background: #00000069;
     border: none;
     border-bottom: 2px solid #00ED82;
     margin-left: auto;
     font-weight: bold;
     color: floralwhite;
     font-family: fantasy;
   }
  
  a{
    margin-left: auto;
  }
  
}